{% load bootstrap3 %}
{% load static %}
<html lang="en">

<head>
    <title>Eric Murithi</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=Exo+2" rel="stylesheet">
	  {% block styles %}
	  {% bootstrap_css %}
	 <link rel="stylesheet" href="{% static 'css/basewebs.css' %}">
     {% endblock %}
</head>

<body>

<nav class="navbar  navbar-light  navbar-fixed-top clearfix" style="background-color: #7f8c8d; ">
	   <!--    navbar come here          -->
	   <div class="navbar-header">
	         <a class="btn" href="{% url 'welcome' %}">Tech-Olympia</a>
	       </div>
	   <ul class="nav navbar-fixed-top justify-content-end">
		   <li class="nav-item">
			   <a class="btn   active" href="{%url 'welcome' %}">About</a>
		   </li>
		   <li class="nav-item">
			   <a class="btn " href="{%url 'site-create'%}">Post Your Site</a>
		   </li>
		   {% if user.is_authenticated %}
		   <li class="nav-item">
			   <a class="btn " href="{% url 'profile'%}">Profile</a>
		   </li>
				   <li class="nav-item">
				   	<a class="btn " href="{% url 'logout'%}">Logout</a>
				   </li>
		   {% else %}
				   <li class="nav-item">
					   <a class="btn " href="{% url 'login'%}">Login</a>
				   </li>
				   <li class="nav-item">
					   <a class="btn" href="{% url 'register'%}">Register</a>
				   </li>
		   {% endif%}
	   </ul>
   </nav>
   <!-- end navbar  -->
</body>
