{%extends 'websites/base.html'%}

{% block content %}
{{block.super}}
<div class="gallery">
	<div class="photo-container">
      <img src="{{object.image.url}}" alt="Big Sur">
      <h2>{{object.title}}</h2>
      <p>{{object.description}}</p>
	 <small><img class="rounded-circle" src="{{site.developer.profile.image.url}}" alt="Big Sur"></small>
	  <span>{{object.developer}}</span>
	  <p>{{object.site_url}}</p>
	  <small class="text-muted">{{object.date_posted | date:"F d, Y"}}</small>
	  {% if object.developer == user %}
	  <div class="">
	       <a class="btn btn-secondary" href="{% url 'site-update' object.id %}">Update</a>
	       <a class="btn btn-danger" href="{% url 'site-delete' object.id %}">Delete</a>
     </div>
	  {%endif%}
    </div>

{% endblock %}
