{%extends 'websites/base.html'%}
{% load crispy_forms_tags %}
         {% block content %}
          {{block.super}}

	<div class="content-section">
		<form method="POST">
			{% csrf_token %}
			<fieldset class ="form-group">
				<legend class = "border-bottom mb-6">Login</legend>
				{{ form | crispy }}

			</fieldset>
			<div class="form-group">
				<button class ="btn btn-outline-info" type="submit">Login</button>
			</div>
		</form>

		<div class ="border-top pt-3">
			<small class="text-muted">
				Do you Need Account?<a class="ml-2" href="{% url 'register'%}">Sign Up Now</a>
			</small>
	   </div>
</div>
{% endblock %}
