{%extends 'websites/base.html'%}
{% load crispy_forms_tags %}
         {% block content %}
          {{block.super}}
       <h1>{{ user.username }}</h1>
       <div class="container">
       <div class="profile">
           <div class="profile-image">
               <img src="{{ user.profile.image.url }}" alt="" style="width:50%;height:50%;">
           </div>
           <div class="profile-user-settings">
               <h1 class="profile-user-name">{{ user.username}}</h1>
               <button class="btn profile-edit-btn">{{ user.email }}</button>
           </div>
           <div class="profile-bio">
               <p><span class="profile-real-name">{{profile.name}}</span>{{user.profile.bio}}</p>
           </div>
       </div>
       <form method="POST" enctype="multipart/form-data">
           {% csrf_token %}
           <fieldset class ="form-group">
               <legend class = "border-bottom mb-6">Profile Info</legend>
               {{ u_form | crispy }}
               {{ p_form | crispy }}
           </fieldset>
           <div class="form-group">
               <button class ="btn btn-outline-info" type="submit">Update</button>
           </div>
       </form>
   </div>
{% endblock %}
